{% extends 'layout.njk'%}
{% block head %}
<link rel="stylesheet" href="home.css" />
{% endblock %}
{% block content %}
<docs-page>
    {{ content | safe }}
    {% include "partials/sidenav.njk" %}
</docs-page>
<script type="module" src="./src/index.js"></script>
{% endblock %}